.slide-editor-page {
    padding: 5vh 10vw;

    .title {
        color: #373A42;
        text-align: right;
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 3vh;
    }

    .upload-image-conteiner {
        background-color: #f4f8ff;
        padding: 8vh 0;
        width: 70%;
        margin-right: 5vh;


        &>div {
            background-color: #CDD4E0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7vh;

            img {
                margin-bottom: 7vh;
                height: 25vh;
            }

            div {
                color: white;
                font-size: 1.6rem;
                line-height: 1.6rem;
                font-weight: 500;
            }
        }
    }

    .sile-tool-bar {
        display: flex;
        margin: 2vh 0 5vh;

        div {
            &:first-child {
                margin-left: 3vw;
            }

            background-color: #4B7CFF;
            border-radius: 100px;
            box-shadow: #00000030 0 0 10px;
            padding: 1vh;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 4vh;
                width: 4vh;
            }
        }
    }
}